/* Global Stylings */

body {
  margin: 0px;
}

#body_image{
  align-content: center;
  size: 120px 200px;
}
#footer {
  position: relative;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: #737373;
}

#home_button {
  margin-left: 10%;
  position: relative;
  top: 80%;
  display: inline;
  text-align: left;
}

#log_button {
  margin-left: 10%;
  position: relative;
  top: 80%;
  text-align: center;
  display: inline;
}

#stretch_button {
  margin-left: 10%;
  position: relative;
  top: 80%;
  display: inline;
  text-align: right;
}

.buttons{
  margin-left: 10%;
}

/*Home Page Stylings*/

#home-page {
  position: relative;
  height: 100vh;
  background-color: #cdcdcd;
}

/*Log Page Stylings*/

#log-page {
  position: relative;
  height: 100vh;
  background-color: #cdcdcd;
}


/*Stretch Page Stylings*/

#stretch-page {
  position: relative;
  height: 100vh;
  background-color: #cdcdcd;
}


/*Profile Page Stylings*/
